html{
    background-color: #09090B;
    padding: 10px;
}
header{
    background-color: gray;
    margin: 0px;
    
}
header ul{
    text-align: center;
}
nav{
    position: fixed;
    background-color: aquamarine;
    width: 80%;
    border: 2px #4c1d95 solid;
    margin: 0 auto;
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    margin-right: 20px;
}
h1{
    color: #ffffff;
    font-family: 'Montserrat';
}
h2{
    color: #f7f6f6;
}
h3{
    color: #EBEBEB;
}
.ModuloProyecto{
    background-color: #18181b;
    border: 1px white solid;
    border-radius: 25px;
    padding: 15px;
}
.ModuloExp{
    background-color: #18181b;
    border: 1px white solid;
    border-radius: 25px;
    padding: 15px;
}
.RecuadroMi{
    background-color: #4c1d95;
    margin: 10px;
    padding: 15px;
    border-radius: 36px;
    display: flex;
}
#Contacto{
    background-color: #000;
    margin: 0px;
}
table{
    color: #ffffff;
    width: 90%;
}
p{
    color: #f7f6f6;
    font-family: 'Inter';
}
.InfoBase{
    display: flex;
/*     margin-top: 50px;
 */    padding-top: 55px;
}
.InfoText{
    width: 60%;
}
.ImgMi{
    width: 40px;
    height: 50px;
    object-fit: cover;
    
}